*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fafafb;
    color: #070731;
}

/* .container{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.329);
    margin: 40px auto;
    padding: 10px 20px;
} */


.header p h3{
    color: #070731;
    
}